In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('ThoraricSurgery.csv', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,293,1,3.80,2.80,0,0,0,0,0,0,12,0,0,0,1,0,62,0
1,1,2,2.88,2.16,1,0,0,0,1,1,14,0,0,0,1,0,60,0
2,8,2,3.19,2.50,1,0,0,0,1,0,11,0,0,1,1,0,66,1
3,14,2,3.98,3.06,2,0,0,0,1,1,14,0,0,0,1,0,80,1
4,17,2,2.21,1.88,0,0,1,0,0,0,12,0,0,0,1,0,56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,98,6,3.04,2.40,2,0,0,0,1,0,11,0,0,0,1,0,76,0
466,369,6,3.88,2.72,1,0,0,0,1,0,12,0,0,0,1,0,77,0
467,406,6,5.36,3.96,1,0,0,0,1,0,12,0,0,0,0,0,62,0
468,25,8,4.32,3.20,0,0,0,0,0,0,11,0,0,0,0,0,58,1
469,447,8,5.20,4.10,0,0,0,0,0,0,12,0,0,0,0,0,49,0

In [7]:
df2= pd.DataFrame(df.values, columns=None)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,293.0,1.0,3.80,2.80,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,1.0,0.0,62.0,0.0
1,1.0,2.0,2.88,2.16,1.0,0.0,0.0,0.0,1.0,1.0,14.0,0.0,0.0,0.0,1.0,0.0,60.0,0.0
2,8.0,2.0,3.19,2.50,1.0,0.0,0.0,0.0,1.0,0.0,11.0,0.0,0.0,1.0,1.0,0.0,66.0,1.0
3,14.0,2.0,3.98,3.06,2.0,0.0,0.0,0.0,1.0,1.0,14.0,0.0,0.0,0.0,1.0,0.0,80.0,1.0
4,17.0,2.0,2.21,1.88,0.0,0.0,1.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,1.0,0.0,56.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,98.0,6.0,3.04,2.40,2.0,0.0,0.0,0.0,1.0,0.0,11.0,0.0,0.0,0.0,1.0,0.0,76.0,0.0
466,369.0,6.0,3.88,2.72,1.0,0.0,0.0,0.0,1.0,0.0,12.0,0.0,0.0,0.0,1.0,0.0,77.0,0.0
467,406.0,6.0,5.36,3.96,1.0,0.0,0.0,0.0,1.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,62.0,0.0
468,25.0,8.0,4.32,3.20,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,58.0,1.0
469,447.0,8.0,5.20,4.10,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,49.0,0.0

In [13]:
X = df2.iloc[:,:-1]
y = df2.iloc[:,-1]

In [16]:
df2.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X,y, stratify=y, test_size=0.2, random_state=2021
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((376, 17), (94, 17), (376,), (94,))

# 디시즌 트리

In [20]:
from sklearn.tree import DecisionTreeClassifier
dec = DecisionTreeClassifier(random_state=2021)
dec.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': 2021,
 'splitter': 'best'}

In [21]:
dec.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2021)

In [22]:
pred = dec.predict(X_test)

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.6808510638297872

In [24]:
from sklearn.model_selection import GridSearchCV

In [25]:
params = {'max_depth' : [1,2,3,4],
           'min_samples_split' : [2,3,4,5] }

In [31]:
grid_dt=GridSearchCV(dec, param_grid=params, cv=3, scoring='accuracy' )
grid_dt.fit(X_train, y_train)
pred_dt=dec.predict(X_test)

In [28]:
grid_dt.best_score_

0.8484021164021164

In [29]:
grid_dt.best_params_

{'max_depth': 1, 'min_samples_split': 2}

In [30]:
best_dt = grid_dt.best_estimator_
best_dt.score(X_test, y_test )

0.851063829787234

In [32]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred_dt)

array([[61, 19],
       [11,  3]], dtype=int64)

In [33]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred_dt)

0.6808510638297872

In [42]:
from sklearn.metrics import precision_score
precision_score(y_test, pred_dt)

0.13636363636363635

In [43]:
from sklearn.metrics import recall_score
recall_score(y_test, pred_dt)

0.21428571428571427

In [45]:
from sklearn.metrics import f1_score
f1_score(y_test, pred_dt)

0.16666666666666663

# 랜덤포레스트

In [46]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=2021)
rfc.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 2021,
 'verbose': 0,
 'warm_start': False}

In [48]:
rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=2021)

In [49]:
pred_dt1=rfc.predict(X_test)

In [53]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred_dt1)

0.851063829787234

In [51]:
from sklearn.model_selection import GridSearchCV

In [55]:
params1 = {'max_depth' : [1,2,3,4],
           'min_samples_split' : [2,3,4,5] }

In [56]:
grid_dt1=GridSearchCV(rfc, param_grid=params1, cv=3, scoring='accuracy' )
grid_dt1.fit(X_train, y_train)
pred_dt1=rfc.predict(X_test)

In [62]:
confusion_matrix(y_test, pred_dt1)

array([[80,  0],
       [14,  0]], dtype=int64)

In [57]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred_dt1)

0.851063829787234

In [58]:
from sklearn.metrics import precision_score
precision_score(y_test, pred_dt1)

C:\Users\ICT01_02\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.0

In [59]:
from sklearn.metrics import recall_score
recall_score(y_test, pred_dt1)

0.0

In [60]:
from sklearn.metrics import f1_score
f1_score(y_test, pred_dt1)

0.0